apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: hydra-prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    editable: false
